#page-home{
    height: 100vh;

    background: url('../extras-aula-1/icones/home-background.svg') no-repeat;
    background-position: 35vw 18vh;
}



#page-home .content{
    width: 90%; /* porcentagem,pixels*/
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;/*primeiro valor top e bottom segundo valor left e rigth*/
}

#page-home header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-top: 48px;
}

#page-home header a{
    display: flex;
    color: var(--title-color);
    font-weight: 700;

    text-decoration: none;
}

#page-home header a span{
    margin-left: 16px;
    display: flex;

    background-image: url('../extras-aula-1/icones/log-in.svg');
    /*sempre precisa de altura e largura esse tipo de logo*/
    width: 20px;
    height: 20px;
   
}

#page-home main{
    max-width: 560px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main h1{
    font-size: 54px;
    margin-top: 0;
}

#page-home main p{
    font-size: 24px;
    line-height: 38px;/*ajeita o espaçamento*/
    margin-top: 24px;

}

#page-home main a{
    width: 100%;
    max-width: 360px;
    height: 72px;

    /*arredondamento das bordas*/
    border-radius: 8px;
    display: flex;
    align-items: center;

    margin-top: 40px;


    background: var(--primary-color);
    transition: 400ms;

    font-weight: bold;
    color: white;
}

/*quando passar o mouse em cima do botao quero uma cor diferente*/
#page-home main a:hover{
    background-color: #2fb86e;
}

#page-home main a span{
    width: 72px;
    height: 72px;
    /*rgb alpha adiciona uma transparencia*/
    background-color: rgba(0,0,0, 0.08);

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*criando pseudoelementos atraves do css*/
#page-home main a span::after{
    content: "";
    background-image: url('../extras-aula-1/icones/search.svg');
    width: 20px;
    height: 20px;
}

#page-home main a strong{
    color: white;
    flex: 1;

    text-align: center;
}